@import "tailwindcss";

.reach-combobox-popup {
  background: #1A1A1A !important;
  border-color: #374151 !important;
}

.reach-combobox-option {
  color: white !important;
}

.reach-combobox-option:hover {
  background: #374151 !important;
}


